samples/original/ChineseNewYearParadeLowPassed.wav
samples/original/FruitvaleStation_01LowPassed.wav
samples/original/FruitvaleStation_01LowPassed.wav.reapeaks
WekiMini.jar
.tags
.tags1
.DS_Store
WekinatorProject/.DS_Store
samples/.DS_Store
samples/cuts/.DS_Store
